<div class="container-fulid">
    <div class="row">
        <h2 class="text-center">About Us</h2>
        <div class="col-md-6">
            <h3 class="text-right">Who we are :</h3>
            <div class="container">
                <p class="lh-lg text-justify">At Mama Furniture, we specialize in crafting high-quality, stylish furniture that elevates your living space. Our passion for design and commitment to excellence ensures every piece enhances your home with elegance and comfort. With a focus on sustainability and durability, our expertly crafted furniture blends timeless aesthetics with modern functionality. Our dedicated team works tirelessly to bring you innovative designs that suit your unique taste and lifestyle, making your home a true reflection of your personality. Choose Mama Furniture for exceptional quality, unparalleled craftsmanship, and a touch of sophistication in every room.</p>
            </div>
        </div>
        <div class="col-md-2 no-display">
            <img src="ab1.jpg" class="img-responsive" id="abt-1" width="100%">
        </div>
        <div class="col-md-2 no-display" id="cont-2">
            <img src="ab2.jpg" class="img-responsive" id="abt-2" width="100%" height="auto">
        </div>
        <div class="col-md-2 no-display" id="cont-3">
            <img src="ab3.jpg" class="img-responsive" id="abt-3" width="100%" height="auto">
        </div>
    </div>
    <app-section-end></app-section-end>
</div>
