.row>h2{
    margin-top: 28px;
    margin-bottom: 45px;
}

.col-md-6>div{
    padding: 68px;
    padding-top: 25px;
}

.col-md-6>h3{
    padding-left: 68px;
    margin-top: 70px;
}

.text-justify{
    text-align: justify;
}

.row>div:nth-child(3){
    padding-top: 14rem;   
}

.row>div:nth-child(4){
    padding-top: 7rem;  
}

@media all and (max-width:768px){
    .abt-img{
        width: 50%;
        height: auto;
    }

    .img-container{
        padding-top: 0;
    }
}

