.text-center h4{
    padding: 20px;
    font-weight: normal;
}

.line{
    width: 45%;
    color: gray;
    margin-left: 27vw;
    margin-bottom: 42px;
}

.aspect{
    width: 80.2%;
    aspect-ratio: 10/9;
    margin: 5px;
    object-fit: cover;
}

.container {
    position: relative;
}
  
button:hover {
    background-color: #7C93C3;
}
  
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.image-item {
    width: 100%;
}

.btn{
  background-color: #1E2A5E;
  color: #ffffff;
  width: 12%;
  margin: 33px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}