
<div class="container-fluid p-0">
    <div class="row">
        <h2 class="text-center" style="margin-top: 28px;">Product</h2>
        <div class="text-center">
            <h4>Furniture designed for your place</h4>
        </div>
        <div>
           <nav class="navbar navbar-expand-sm">
               <div class="container-fluid" style="width: 354px;">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="selectCategory('All'); $event.preventDefault()">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="selectCategory('Table'); $event.preventDefault()">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="selectCategory('Closets'); $event.preventDefault()">Closets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="selectCategory('Bed'); $event.preventDefault()">Bed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="selectCategory('Window'); $event.preventDefault()">Window</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="selectCategory('Door'); $event.preventDefault()">Door</a>
                    </li>
                  </ul>
                </div>
            </nav>  
        </div>
        <hr class="line">
        <div class="container text-center">
        <div class="image-grid">
          <div *ngFor="let image of currentImages" class="image-item">
            <img class="rounded aspect" [src]="image.src" [alt]="image.alt">
          </div>
        </div>
        <button class="btn" (click)="prevSlide()">&#10094;&nbsp;{{prevBtn}}</button>
        <button class="btn" (click)="nextSlide()">{{nextBtn}}&nbsp;&#10095;</button>
      </div>  
    </div>
    <app-section-end></app-section-end>
</div>